.jumbotron{
  background-image: url("/1.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  background-image: url("/1.jpg") !important;

}

.errorMsg{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  font-size: 25px;
  color: red;
  font-weight: 500;
}
